In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Analyze Income_amount
application_df["INCOME_AMT"].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [4]:
# Drop "INCOME_AMT" income groupings are not standardized, majority of cases are 0, could skew average
application_df = application_df.drop(columns = "INCOME_AMT", axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,N,142590,1

In [5]:
# APPLICATION_TYPE value counts for binning
applic_counts = application_df.APPLICATION_TYPE.value_counts()
applic_counts

# Determine which values to replace if counts are less than ...?
replace_application = list(applic_counts[applic_counts<100].index)
# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# CLASSIFICATION value counts for binning
classif_counts = application_df.CLASSIFICATION.value_counts()

# Replace values <1500
replace_class = list(classif_counts[classif_counts<150].index)
# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [5]:
# Generate our categorical variable lists
cat_list = application_df.dtypes[application_df.dtypes=="object"].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
#  YOUR CODE GOES HERE
encode_df = pd.DataFrame(enc.fit_transform(application_df[cat_list]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(cat_list)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(cat_list,1)
application_df.head()

C:\Users\Big Pappa J\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns = "IS_SUCCESSFUL",axis=1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 99
hidden_nodes_layer2 = 60
hidden_nodes_layer3 = 30
hidden_nodes_layer4 = 15


nn3 = tf.keras.models.Sequential()

# First hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn3.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 99)                5445

 dense_6 (Dense)             (None, 60)                6000

 dense_7 (Dense)             (None, 30)                1830

 dense_8 (Dense)             (None, 30)                930

 dense_9 (Dense)             (None, 1)                 31

=================================================================
Total params: 14,236
Trainable params: 14,236
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# import dependencise for checkpoints
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Create Checkpoints and file names
os.makedirs("checkpoints_opt3/",exist_ok=True)
checkpoint_path = "checkpoints_opt3/weights.{epoch:02d}.hdf5"

# Create callback to save model's weight every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

# Train the model
fit_model = nn3.fit(X_train_scaled,y_train, epochs=100,callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7421
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7420
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7421
Epoch 5/100
789/804 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7422
Epoch 5: saving model to checkpoints_opt3\weights.05.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7417
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7425
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7423
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 10/100
801/804 [============================>.] - ETA: 0s - loss: 0.5323 - accuracy: 0.7424
Epoch 10: saving model to checkpoints_opt3\weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7424
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7420
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7421
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7430
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7425
Epoch 15/100
782/804 [============================>.] - ETA: 0s - loss: 0.5320 - accuracy: 0.7418
Epoch 15: saving model to checkpoints_opt3\weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7411
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7431
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7425
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7429
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 20/100
791/804 [============================>.] - ETA: 0s - loss: 0.5319 - accuracy: 0.7421
Epoch 20: saving model to checkpoints_opt3\weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7422
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7422
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7421
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 25/100
773/804 [===========================>..] - ETA: 0s - loss: 0.5326 - accuracy: 0.7417
Epoch 25: saving model to checkpoints_opt3\weights.25.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7422
Epoch 26/100
804/804 [==============================] - 1s 884us/step - loss: 0.5319 - accuracy: 0.7423
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7425
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7418
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 30/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5328 - accuracy: 0.7406
Epoch 30: saving model to checkpoints_opt3\weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7427
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7419
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7425
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 35/100
800/804 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7405
Epoch 35: saving model to checkpoints_opt3\weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7428
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7416
Epoch 38/100
804/804 [==============================] - 1s 981us/step - loss: 0.5319 - accuracy: 0.7421
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7427
Epoch 40/100
763/804 [===========================>..] - ETA: 0s - loss: 0.5335 - accuracy: 0.7414
Epoch 40: saving model to checkpoints_opt3\weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7420
Epoch 41/100
804/804 [==============================] - 1s 979us/step - loss: 0.5317 - accuracy: 0.7423
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7429
Epoch 43/100
804/804 [==============================] - 1s 980us/step - loss: 0.5319 - accuracy: 0.7422
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7429
Epoch 45/100
803/804 [============================>.] - ETA: 0s - loss: 0.5317 - accuracy: 0.7417
Epoch 45: saving model to checkpoints_opt3\weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7423
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7421
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7420
Epoch 50/100
789/804 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7414
Epoch 50: saving model to checkpoints_opt3\weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7422
Epoch 51/100
804/804 [==============================] - 1s 997us/step - loss: 0.5320 - accuracy: 0.7426
Epoch 52/100
804/804 [==============================] - 1s 956us/step - loss: 0.5322 - accuracy: 0.7425
Epoch 53/100
804/804 [==============================] - 1s 993us/step - loss: 0.5323 - accuracy: 0.7429
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7427
Epoch 55/100
797/804 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7424
Epoch 55: saving model to checkpoints_opt3\weights.55.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7421
Epoch 56/100
804/804 [==============================] - 1s 932us/step - loss: 0.5326 - accuracy: 0.7412
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7420
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7422
Epoch 60/100
778/804 [============================>.] - ETA: 0s - loss: 0.5322 - accuracy: 0.7423
Epoch 60: saving model to checkpoints_opt3\weights.60.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7421
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7424
Epoch 62/100
804/804 [==============================] - 1s 957us/step - loss: 0.5319 - accuracy: 0.7425
Epoch 63/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7423
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7413
Epoch 65/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5320 - accuracy: 0.7421
Epoch 65: saving model to checkpoints_opt3\weights.65.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7422
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7427
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7431
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7425
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7426
Epoch 70/100
791/804 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7412
Epoch 70: saving model to checkpoints_opt3\weights.70.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7418
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7419
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7418
Epoch 75/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5318 - accuracy: 0.7423
Epoch 75: saving model to checkpoints_opt3\weights.75.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7427
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7427
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7419
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7420
Epoch 80/100
793/804 [============================>.] - ETA: 0s - loss: 0.5318 - accuracy: 0.7413
Epoch 80: saving model to checkpoints_opt3\weights.80.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7416
Epoch 81/100
804/804 [==============================] - 1s 965us/step - loss: 0.5315 - accuracy: 0.7416
Epoch 82/100
804/804 [==============================] - 1s 980us/step - loss: 0.5325 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 1s 958us/step - loss: 0.5317 - accuracy: 0.7423
Epoch 84/100
804/804 [==============================] - 1s 978us/step - loss: 0.5316 - accuracy: 0.7421
Epoch 85/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5308 - accuracy: 0.7424
Epoch 85: saving model to checkpoints_opt3\weights.85.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 89/100
804/804 [==============================] - 1s 988us/step - loss: 0.5328 - accuracy: 0.7421
Epoch 90/100
782/804 [============================>.] - ETA: 0s - loss: 0.5321 - accuracy: 0.7419
Epoch 90: saving model to checkpoints_opt3\weights.90.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7419
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7423
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7425
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7431
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7423
Epoch 95/100
785/804 [============================>.] - ETA: 0s - loss: 0.5316 - accuracy: 0.7426
Epoch 95: saving model to checkpoints_opt3\weights.95.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7425
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7423
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7430
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7413
Epoch 100/100
790/804 [============================>.] - ETA: 0s - loss: 0.5317 - accuracy: 0.7415
Epoch 100: saving model to checkpoints_opt3\weights.100.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7416

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5587 - accuracy: 0.7258 - 260ms/epoch - 970us/step
Loss: 0.5586879849433899, Accuracy: 0.7258309125900269

In [18]:
# Save Model 
nn3.save("AlphabetSoupCharity_optimzatio_v03.h5")